.group02{
    padding: 90px 75px 100px 65px;
    .container{
        .name02{
            font-size: 29px;
            margin-bottom: 35px;
            text-align: center;
            letter-spacing: 2px;
        }
        .box{
            display: flex;
            justify-content: center;
            gap: 50px;
            .box-text{
                width: 210px;
                text-align: right;
                border-right: 3px solid black;
                padding-right: 18px;
                .box-text01{
                    padding-bottom: 80px;
                }  
            }
            .box-img{
                width: 630px;
                height: 420px;
            }
            .item-box{
                width: 280px;
                font-size: 25px;
                letter-spacing: 3px;    
                .item-box-oder{
                    display: flex;
                    align-items: center;
                    gap: 10px;  
                }    
                img{
                    width: 280px;
                    height: 200px;
                }
                .button{
                    font-size: 13px;
                    height: 37px;
                    margin: 30px 0;
                }
            }
        }
    }
}


