.group03{
    padding: 2px 75px 100px;
    .container{
        display: flex;
        justify-content: center;
        gap: 60px;
        &-text1{
            width: 190px;
            text-align: right;
            margin-top: auto;
            img{
                padding-top: 25px;
            }
        }
        &-img3 img{
            width: 495px;
            height: 750px;
        }
        &-text2{
            width: 320px;
            padding-top: 25px;
            letter-spacing: 2px;
            &-name{
                font-size: 23px;
                margin-bottom: 65px;
            }
            &-sub{
                font-size: 15px;
                line-height: 20px;
                word-spacing: 2px;
            }
        }
    }
}